snippet clg "console.log('')" b
console.log('$1'); $2
endsnippet

snippet log "console.log()" b
console.log($1);
endsnippet

snippet msg1 "/***********/" b
/****************************************************************/
/** $1 **/
/****************************************************************/
$2
endsnippet

snippet msg2 "/** **/" b
/** $1 **/ $2
endsnippet

snippet fun "()=>{}" b
const $1 = ($2) => {
  $3
};
endsnippet

